@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }
  body .index-ctr {
    background-size: 100%;
    z-index: 0 !important;
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    background: url("../image/zhishitikuBg.png") left top no-repeat;
    background-size: 100% 100%;
    text-align: center; }
    body .index-ctr .content {
      width: 100%;
      height: 8.84rem;
      position: relative; }
      body .index-ctr .content .kuang-content {
        position: absolute;
        width: 5.1rem;
        height: 7rem;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000; }
        body .index-ctr .content .kuang-content .k1 {
          white-space: nowrap;
          margin: 0 auto;
          width: 2.45rem;
          height: 0.34rem;
          font-size: 0.36rem;
          font-weight: 500;
          color: #ffd235; }
        body .index-ctr .content .kuang-content .k2 {
          margin-top: 0.5rem;
          text-align: left;
          width: 5.11rem;
          height: 1.19rem;
          font-size: 0.28rem;
          font-weight: 500;
          color: white;
          line-height: 0.46rem; }
        body .index-ctr .content .kuang-content .k3 {
          text-align: left;
          margin-top: 0.7rem; }
          body .index-ctr .content .kuang-content .k3 ul li {
            position: relative;
            list-style: none;
            display: flex;
            margin: 0.3rem 0 0.3rem -0.9rem; }
          body .index-ctr .content .kuang-content .k3 ul .my-radio {
            position: relative;
            z-index: 100;
            margin-right: 0.1rem; }
          body .index-ctr .content .kuang-content .k3 ul .my-radio:checked::after {
            content: ''; }
          body .index-ctr .content .kuang-content .k3 ul .my-radio::before {
            content: '';
            position: absolute;
            width: 0.3rem;
            height: 0.3rem;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #5686FF;
            box-shadow: 0 0.01rem 0.03rem 0 #00176a, 0.01rem 0.01rem 0.01rem 0 #d5e1ff; }
          body .index-ctr .content .kuang-content .k3 ul .my-radio::after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #FFAF38;
            width: 0.2rem;
            height: 0.2rem;
            border-radius: 50%; }
          body .index-ctr .content .kuang-content .k3 ul .radio-label {
            font-size: 0.28rem;
            color: white;
            display: inline-block;
            width: 4.2rem;
            left: 0.5rem;
            top: 0; }
      body .index-ctr .content .topImg {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        width: 100%;
        height: 100%; }
      body .index-ctr .content .bottomImg {
        width: 4.58rem;
        height: 1.34rem;
        position: absolute;
        top: 122%;
        left: 50%;
        transform: translate(-50%, -50%); }
      body .index-ctr .content .active {
        opacity: .7; }
      body .index-ctr .content .bottomPrevImg {
        width: 2.94rem;
        height: 1.34rem;
        position: absolute;
        top: 121%;
        left: 27%;
        transform: translate(-50%, -50%); }
      body .index-ctr .content .bottomNextImg {
        width: 2.94rem;
        height: 1.34rem;
        position: absolute;
        top: 121%;
        right: -9%;
        transform: translate(-50%, -50%); }
    body .index-ctr .bText {
      width: 100%;
      font-size: 0.24rem;
      margin: 0 auto;
      color: #90D7FF;
      padding-bottom: 0.5rem;
      position: absolute;
      bottom: 0; }

/*弹窗样式start*/
.modal > input {
  display: none; }

.modal > input ~ * {
  overflow: hidden;
  max-height: 0;
  opacity: 0; }

.modal .overlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  margin: 0;
  border-radius: 0;
  background: rgba(17, 17, 17, 0.7);
  transition: all 0.3s;
  z-index: 100000; }

.modal .overlay ~ * {
  border: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0.2, 0.2);
  z-index: 1000000;
  transition: all .3s ease; }

.main-modal {
  /*这里修改弹窗内容样式即可*/ }
  .main-modal .fail-content {
    text-align: center;
    position: relative;
    width: 7.16rem;
    height: 9.7rem; }
    .main-modal .fail-content .modalText {
      position: absolute;
      width: 5.1rem;
      height: 7rem;
      top: 34%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1000; }
      .main-modal .fail-content .modalText div:nth-of-type(1) {
        position: absolute;
        line-height: 0.3rem;
        top: 62%;
        left: -15%;
        transform: translate(-50, -50%); }
        .main-modal .fail-content .modalText div:nth-of-type(1) p {
          font-size: 0.32rem;
          font-weight: bold;
          color: white; }
      .main-modal .fail-content .modalText div:nth-of-type(2) {
        text-align: left;
        width: 4.44rem;
        font-weight: 500;
        line-height: 0.36rem;
        position: absolute;
        top: 80%;
        left: 12%;
        transform: translate(-50, -50%); }
        .main-modal .fail-content .modalText div:nth-of-type(2) p {
          margin-top: 0.07rem; }
          .main-modal .fail-content .modalText div:nth-of-type(2) p span {
            font-size: 0.24rem;
            color: white; }
    .main-modal .fail-content .failBg {
      position: absolute;
      left: 50%;
      top: 45%;
      transform: translate(-50%, -50%);
      width: 6.16rem;
      height: 7.2rem; }
    .main-modal .fail-content .close {
      width: 0.86rem;
      height: 0.86rem;
      position: absolute;
      right: 2%;
      top: 5%; }
    .main-modal .fail-content div {
      width: 7.16rem;
      height: 1.33rem;
      position: absolute;
      bottom: 0;
      top: 82%; }
      .main-modal .fail-content div img {
        width: 2.94rem;
        height: 100%; }
  .main-modal .main-content {
    text-align: center;
    position: relative;
    width: 7.16rem;
    height: 9.7rem; }
    .main-modal .main-content .modalText {
      position: absolute;
      width: 5.1rem;
      height: 7rem;
      top: 34%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1000; }
      .main-modal .main-content .modalText div:nth-of-type(1) {
        position: absolute;
        top: 74%;
        font-size: 0.32rem;
        font-weight: bold;
        color: white;
        line-height: 0.48rem; }
      .main-modal .main-content .modalText div:nth-of-type(2) {
        text-align: left;
        width: 4.44rem;
        font-weight: 500;
        line-height: 0.36rem; }
        .main-modal .main-content .modalText div:nth-of-type(2) p {
          margin-top: 0.07rem; }
          .main-modal .main-content .modalText div:nth-of-type(2) p span {
            font-size: 0.24rem;
            color: white; }
    .main-modal .main-content .successBg {
      position: absolute;
      left: 50%;
      top: 45%;
      transform: translate(-50%, -50%);
      width: 6.16rem;
      height: 7.2rem; }
    .main-modal .main-content .close {
      width: 0.86rem;
      height: 0.86rem;
      position: absolute;
      right: 2%;
      top: 5%; }
    .main-modal .main-content div {
      width: 7.16rem;
      height: 1.34rem;
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 0;
      top: 82%; }
      .main-modal .main-content div img {
        width: 2.94rem;
        height: 100%; }
  .main-modal .share-content {
    text-align: center;
    position: relative;
    width: 7.16rem;
    height: 12rem; }
    .main-modal .share-content img:nth-of-type(1) {
      width: 1.23rem;
      height: 1.48rem;
      position: absolute;
      top: 0;
      right: 0.5rem; }
    .main-modal .share-content img:nth-of-type(2) {
      width: 3.12rem;
      height: 1.16rem;
      position: absolute;
      top: 14%;
      right: 1.5rem; }

.modal > input:checked ~ * {
  display: block;
  opacity: 1;
  max-height: 10000px; }

.modal > input:checked ~ .overlay ~ * {
  max-height: 90%;
  overflow: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1, 1);
  transform: translateX(-50%) translateY(-50%) scale(1, 1); }

/*弹窗样式end*/

/*# sourceMappingURL=dati.css.map */
