@function rem( $px ) {
  @return $px/100 + rem;
}
body{
  margin: 0;
  padding:0;
  width: 100%;
  height: 100%;
  background: url("../image/mainTopBg.png") left top no-repeat;
  .index-ctr {
    width: 100%;
    height: 100%;
    .main{
      position: relative;
      z-index: 159766;
      width: 100%;
      height: 100%;
      .van-popup{
        background: transparent !important;
        text-align: center;
        .chou1{
          width: rem(616);
          height: rem(860);
        }
        .chou2{
          width: rem(458);
          height: rem(134);
        }
      }

      .mainTop{
        font-size: 0;
        height: 60%;
        width: 100%;
        //background: url("../image/mainTopBg.png") left top repeat;
        //background-size: 100% 100%;
        position: relative;
        .wendaImg{
          position: absolute;
          top: rem(50);
          right: 0;
          width: rem(151);
          height: rem(56);
        }
        .mainTopImg{
          height: 100%;
          width: 100%;
        }
        .dengLeft,.dengRight{
          position: absolute;
          top: rem(290);
          width: rem(12);
          height: rem(76);
          img{
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;

          }
        }
        .dengLeft{
          left: rem(53);
          img{
            animation: glint 2s infinite forwards;
            animation-delay:1s;
            @keyframes glint {
              0%{
                opacity: 0;
              }
              50%{
                opacity: 0.7;
              }
              100%{
                opacity: 0;
              }
            }
          }
        }
        .dengRight{
          right: rem(64);
          img{
            animation: glint 2s infinite forwards;
            @keyframes glint {
              0%{
                opacity: 0;
              }
              50%{
                opacity: 0.7;
                //transform:scale(2);
              }
              100%{
                opacity: 0;
              }
            }
          }
        }
        .bigTextImg{
          position: absolute;
          top: rem(207);
          left: rem(180);
          width: rem(387);
          height: rem(213);
          animation: scale 2s linear;
          //animation-delay:1s;
          @keyframes scale {
            0%{
              opacity: 0;
              transform: scale(0.2);
            }
            25%{
              opacity: 0.2;
              transform: scale(0.4);
            }
            50%{
              opacity: 0.4;
              transform: scale(0.6);
            }
            75%{
              opacity: 0.6;
              transform: scale(0.8);
            }
            100%{
              opacity: 1;
              transform: scale(1);
            }
          }
        }
        .smallTextImg{
          position: absolute;
          top: rem(430);
          left: rem(200);
          width: rem(367);
          height: rem(67);
        }
        .jinbiImg{
          position: absolute;
          top: rem(480);
          right: rem(180);
          width: rem(44);
          height: rem(48);
          animation: trans 4s infinite linear;
          animation-direction:alternate;//反向执行动画
          animation-delay:2s;//延迟多少秒才执行动画
          @keyframes trans {
            0%{
              transform: translateY(70%);
            }
            50%{
              transform: translateY(0);
            }
            100%{
              transform: translateY(50%);
            }
          }
        }
        .redImg{
          position: absolute;
          top: rem(530);
          right: rem(250);
          width: rem(30);
          height: rem(38);
          animation: trans 3s infinite linear;
          animation-direction:alternate;//反向执行动画
          animation-delay:2s;//延迟多少秒才执行动画
          @keyframes trans {
            0%{
              transform: translateY(70%);
            }
            50%{
              transform: translateY(0);
            }
            100%{
              transform: translateY(50%);
            }
          }
        }
        .redBagImg{
          position: absolute;
          top: rem(350);
          left: rem(120);
          width: rem(94);
          height: rem(89);
          animation: trans 2s infinite linear;
          animation-direction:alternate;//反向执行动画
          animation-delay:2s;//延迟多少秒才执行动画
          @keyframes trans {
            0%{
              transform: translateY(50%);
            }
            50%{
              transform: translateY(0);
            }
            100%{
              transform: translateY(70%);
            }
          }
        }
        .weidati{
          position: absolute;
          //top: 50%;
          left: 50%;
          bottom: rem(-12);
          transform: translate(-50%,-50%);
          text-align: center;
          width: rem(520);
          height: rem(118);
        }
      }

    }
    .mainBottom{
      height: 40%;
      width: 100%;
      background-image: url("../image/mainBottom.png");
      background-size: 100% 100%;
      position: absolute;
      overflow-y: scroll;
      overflow-x: hidden;
      //bottom: 0;
      .bottomIndex{
        height: 80%;
        width: 100%;
        font-size: 0;
        text-align: center;
        a{
          img{
            height: 30%;
            width: rem(780);
          }
        }
        a:nth-of-type(1){
          img{
            height: 35%;
            margin-bottom: rem(-10);
          }
        }
        a:nth-of-type(2){
          img{
            height: 9%;
            margin-top: rem(-50);
          }
        }
        a:nth-of-type(3){
          img{
            margin-top: rem(-27);
          }
        }
        a:nth-of-type(4){
          img{
            opacity: .5;
            //margin-top: -1%;
            margin-top: rem(-6);
          }
        }
      }
      .bText{
        font-size: rem(24);
        color: #90D7FF;
        text-align: center;
        //padding-top: rem(20);
        margin-bottom: rem(200);
      }
    }
  }
}

/*弹窗样式start*/
* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif
}
.modal>input {
  display: none;
}
.modal>input~* {
  overflow: hidden;
  max-height: 0;
  opacity: 0
}
.modal .overlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  margin: 0;
  border-radius: 0;
  background: rgba(17, 17, 17, 0.6);
  transition: all 0.3s;
  z-index: 100000;
}

.modal .overlay~* {
  border: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0.2, 0.2);
  z-index: 1000000;
  transition: all .3s ease;
}
.main-modal { /*这里修改弹窗内容样式即可*/
  background: transparent;
  padding: 10px;
  text-align: center;
  .chou1{
    width: rem(616);
    height: rem(860);
  }
  .chou2{
    width: rem(458);
    height: rem(134);
  }
}
.modal>input:checked~* {
  display: block;
  opacity: 1;
  max-height: 10000px;
}
.modal>input:checked~.overlay~* {
  max-height: 90%;
  overflow: auto;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1, 1);
  transform: translateX(-50%) translateY(-50%) scale(1, 1);
}
/*弹窗样式end*/


