@function rem( $px ) {
  @return $px/100 + rem;
}
html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  .index-ctr{
    height: 100%;
    box-sizing: border-box;
    padding: rem(100) 0 0;
    overflow: hidden;
    .top{
      width: 100%;
      height: rem(400);
      margin: rem(-100) 0 0;
      background-image: url("../image/mainTopBg.png");
      background-size: 100% 100%;
      .top-content{
        position: relative;
        width: 100%;
        height: 100%;
        img{
          width: 100%;
          height: 100%;
        }
        .indexDiv{
          display: flex;
          width: rem(630);
          justify-content: space-between;
          position: absolute;
          bottom: 0;
          left: 0;
          transform: translate(10%,-30%);
          .leftDiv,.rightDiv{
            width: rem(304);
            height: rem(68);
            background: url("../image/blue_k.png");
            background-size: 100% 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            span{
              font-size: rem(30);
              color: white;
            }
            span:nth-of-type(2){
              margin-left: rem(10);
              font-weight: bold;
            }
          }
        }

      }
    }
    .bottom{
      margin-top: rem(-5);
      width: 100%;
      height: 100%;
      background: url("../image/paihangbangBg.png");
      background-size: 100% 100%;
      font-size: 16px;
      overflow: scroll;
      .b-content{
        background: url("../image/paihang_k1.png");
        background-size: 100% 100%;
        width: rem(664);
        margin: rem(50) auto 0 auto;
        padding-top: rem(90);
        height: rem(706);
        .b1{
          background: url("../image/paihang_text.png");
          background-size: 100% 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          height: rem(56);
          width: rem(556);
          margin-top: rem(-40);
          margin-left: rem(50);
          p{
            color: #FFD235;
            font-weight: bold;
          }
          p:nth-of-type(1){
             margin-left: rem(-20);
           }
          p:nth-of-type(3){
            margin-right: rem(-30);
          }
        }
        .b2{
          //height: rem(600);
          height: 80%;
          width: rem(556);
          margin-left: rem(50);
          overflow-y: scroll;
          overflow-x: hidden;
          .b2-index{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: rem(-30);
            p{
              color: white;
            }
            p:nth-of-type(1){
              width: 1.14rem;
              //text-align: center;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
            p:nth-of-type(2){
              margin-left: rem(-30);
            }
            //margin: rem(40) 0;
          }
        }
      }

    }
    .bText{
      width: 100%;
      font-size: rem(24);
      //margin: rem(300) auto;
      color: #90D7FF;
      text-align: center;
      position: absolute;
      bottom: rem(30);
    }
  }

}
