@function rem( $px ) {
  @return $px/100 + rem;
}
body{
  margin: 0;
  padding:0;
  height: 100%;
  width: 100%;
  //background:url("../image/zhishitikuBg.png");
  //background-size:100%;
  .index-ctr{
    background-size:100%;
    z-index: 0 !important;
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    background: url("../image/zhishitikuBg.png") left top no-repeat;
    background-size: 100% 100%;

    text-align: center;
    .content{
      width: 100%;
      height: rem(884);
      position: relative;
      .kuang-content{
        position: absolute;
        width: rem(510);
        height: rem(600);
        top: 62%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 126761486;
        .k1{
          white-space: nowrap;
          margin: 0 auto;
          width:rem(245);
          height:rem(34);
          font-size:rem(36);
          font-weight:500;
          color:rgba(255,210,53,1);
        }
        .k2{
          margin-top: rem(50);
          text-align: left;
          width:rem(511);
          height:rem(119);
          font-size:rem(28);
          font-weight:500;
          color:rgba(255,255,255,1);
          line-height:rem(46);
        }
        .k3{
          text-align: left;
          margin-top: rem(100);
          div{
            margin: rem(31) 0;
            label{
              color: white;
              font-size: rem(28);
            }
          }
          div>.p input{
            display: none;
          }
          div>.p label{
            position: relative;
            margin-right: rem(34);
          }
          div>.p label::before{
            display: inline-block;
            content: "";
            width: rem(24);
            height:rem(24);
            border-radius: 50%;
            border: rem(1) solid #5686FF;
            margin-right: rem(6);
            vertical-align: bottom;
            background: #5686FF;
            box-shadow:0 rem(1) rem(3) 0 rgba(0,23,106,1), rem(1) rem(1) rem(1) 0 rgba(213,225,255,1);
          }
          div>.p input:checked+label::before{
            background-color: #5686FF;
          }
          div>.p input:checked+label::after{
            display: inline-block;
            content: "";
            width: rem(14);
            height: rem(14);
            border-radius: 50%;
            position: absolute;
            left: rem(6);
            bottom: rem(6);
            background-color: #FFAF38;

          }
        }
      }
      .topImg{
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 156789;
        width: 100%;
        height: 100%;
      }
      .bottomImg{
        width: rem(458);
        height: rem(134);
        position: absolute;
        top: 122%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
    .queding{
      width: rem(458);
      height: rem(134);
    }
  }
}
