@function rem( $px ) {
  @return $px/100 + rem;
}
body{
  margin: 0;
  padding:0;
  height: 100%;
  width: 100%;
  //background:url("../image/zhishitikuBg.png");
  //background-size:100%;
  .index-ctr{
    background-size:100%;
    z-index: 0 !important;
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    background: url("../image/zhishitikuBg.png") left top no-repeat;
    background-size: 100% 100%;
    text-align: center;
    .content{
      width: 100%;
      height: rem(884);
      position: relative;
      .kuang-content{
        position: absolute;
        width: rem(510);
        height: rem(700);
        top: 65%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 126761486;
        .k1{
          white-space: nowrap;
          margin: 0 auto;
          width:rem(245);
          height:rem(34);
          font-size:rem(36);
          font-weight:500;
          color:rgba(255,210,53,1);
        }
        .k2{
          margin-top: rem(50);
          text-align: left;
          width:rem(511);
          height:rem(119);
          font-size:rem(28);
          font-weight:500;
          color:rgba(255,255,255,1);
          line-height:rem(46);
        }
        .k3{
          text-align: left;
          margin-top: rem(70);
          ul{
            li {
              position: relative;
              list-style: none;
              display: flex;
              margin: rem(30) 0 rem(30) rem(-90);
            }
            .my-radio {
              position: relative;
              z-index: 100;
              margin-right: rem(10);
            }
            .my-radio:checked::after {
              content: '';
            }
            .my-radio::before {
              content: '';
              position: absolute;
              width: 0.3rem;
              height: 0.3rem;
              border-radius: 50%;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              //right: -0.01rem;
              //top: -0.04rem;
              background: #5686FF;
              box-shadow:0 rem(1) rem(3) 0 rgba(0,23,106,1), rem(1) rem(1) rem(1) 0 rgba(213,225,255,1);
            }
            .my-radio::after {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              //left: rem(3);
              //bottom: rem(4);
              background-color: #FFAF38;
              width: rem(20);
              height: rem(20);
              border-radius: 50%;
              //box-shadow:0 rem(1) rem(3) 0 rgba(0,23,106,1), rem(1) rem(1) rem(1) 0 #FFAF38;
            }
            .radio-label {
              font-size: rem(28);
              color: white;
              display: inline-block;
              width: rem(420);
              //position: absolute;
              left: rem(50);
              top: 0;
            }

          }

        }
      }
      .topImg{
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 156789;
        width: 100%;
        height: 100%;
      }
      .bottomImg{
        width: rem(458);
        height: rem(134);
        position: absolute;
        top: 122%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
    .bText{
      width: 100%;
      font-size: rem(24);
      margin: 0 auto;
      color: #90D7FF;
      padding-bottom: rem(50);
      position: absolute;
      bottom: 0;
    }

  }
}
