body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }
  body .index-ctr {
    background-size: 100%;
    z-index: 0 !important;
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    background: url("../image/zhishitikuBg.png") left top no-repeat;
    background-size: 100% 100%;
    text-align: center; }
    body .index-ctr .content {
      width: 100%;
      height: 8.84rem;
      position: relative; }
      body .index-ctr .content .kuang-content {
        position: absolute;
        width: 5.1rem;
        height: 7rem;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 126761486; }
        body .index-ctr .content .kuang-content .k1 {
          white-space: nowrap;
          margin: 0 auto;
          width: 2.45rem;
          height: 0.34rem;
          font-size: 0.36rem;
          font-weight: 500;
          color: #ffd235; }
        body .index-ctr .content .kuang-content .k2 {
          margin-top: 0.5rem;
          text-align: left;
          width: 5.11rem;
          height: 1.19rem;
          font-size: 0.28rem;
          font-weight: 500;
          color: white;
          line-height: 0.46rem; }
        body .index-ctr .content .kuang-content .k3 {
          text-align: left;
          margin-top: 0.7rem; }
          body .index-ctr .content .kuang-content .k3 ul li {
            position: relative;
            list-style: none;
            display: flex;
            margin: 0.3rem 0 0.3rem -0.9rem; }
          body .index-ctr .content .kuang-content .k3 ul .my-radio {
            position: relative;
            z-index: 100;
            margin-right: 0.1rem; }
          body .index-ctr .content .kuang-content .k3 ul .my-radio:checked::after {
            content: ''; }
          body .index-ctr .content .kuang-content .k3 ul .my-radio::before {
            content: '';
            position: absolute;
            width: 0.3rem;
            height: 0.3rem;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #5686FF;
            box-shadow: 0 0.01rem 0.03rem 0 #00176a, 0.01rem 0.01rem 0.01rem 0 #d5e1ff; }
          body .index-ctr .content .kuang-content .k3 ul .my-radio::after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #FFAF38;
            width: 0.2rem;
            height: 0.2rem;
            border-radius: 50%; }
          body .index-ctr .content .kuang-content .k3 ul .radio-label {
            font-size: 0.28rem;
            color: white;
            display: inline-block;
            width: 4.2rem;
            left: 0.5rem;
            top: 0; }
      body .index-ctr .content .topImg {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 156789;
        width: 100%;
        height: 100%; }
      body .index-ctr .content .bottomImg {
        width: 4.58rem;
        height: 1.34rem;
        position: absolute;
        top: 122%;
        left: 50%;
        transform: translate(-50%, -50%); }
    body .index-ctr .bText {
      width: 100%;
      font-size: 0.24rem;
      margin: 0 auto;
      color: #90D7FF;
      padding-bottom: 0.5rem;
      position: absolute;
      bottom: 0; }

/*# sourceMappingURL=zhishitiku.css.map */
