html {
  width: 100%;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
}
.container .main {
  width: 100%;
  min-height: 100%;
  background: url("../image/mainTopBg.png");
  background-size: cover;
}
.container .main .main-Top {
  margin: 0 auto;
  padding-top: 0.23rem;
  width: 7.5rem;
  height: 8.44rem;
  background-image: url(../image/mainBj.png);
  background-size: 100% 100%;
}
.container .main .main-Top .loginnavbar {
  margin-top: 0.5rem;
  width: 100%;
  height: 100%;
  /* 弹性布局 */
  display: flex;
  /* 主轴 */
  justify-content: space-around;
  /* 副轴 */
  align-items: center;
}
.container .main .main-Top .loginnavbar .login .login-text {
  font-weight: PingFang-SC-Bold;
  font-size: 0.3rem;
  color: #fff;
  margin-top: 0.5rem;
}
.container .main .main-Top .loginnavbar .login .login-text img {
  margin-left: 0.1rem;
  margin-right: 0.05rem;
  width: 0.34rem;
  height: 0.34rem;
  vertical-align: middle;
}
.container .main .main-Top .loginnavbar .login .login-text input {
  width: 4.5rem;
  height: 0.8rem;
  border-radius: 0.1rem;
  padding-left: 0.28rem;
  margin-top: 0.1rem;
}
.container .main .main-Top .loginnavbar .login .login-text input:nth-child(3)::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #1D48BE;
  font-weight: 700;
}
.container .main .main-Top .loginnavbar .login .phone-text input:nth-child(3)::-webkit-input-placeholder {
  /* WebKit browsers */
  opacity: 0.5;
}
.container .main .submit {
  margin: 0 auto;
  height: 1.34rem;
  width: 4.58rem;
}
.container .main .submit img {
  width: 100%;
  height: 100%;
}
.container .main .tips {
  margin: 0 auto;
  margin-top: 0.12rem;
  width: 5.05rem;
  height: 0.6rem;
  font-family: AlibabaPuHuiTiR;
  text-align: center;
  color: #D4F0FF;
  font-size: 0.24rem;
}
.container .main .footer-text {
  font-family: AlibabaPuHuiTiR;
  font-size: 0.24rem;
  color: #90D7FF;
  margin-top: 1.45rem;
  padding-bottom: 0.5rem;
  width: 100%;
  text-align: center;
}
